@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply w-full h-screen bg-white font-medium
  }

  h1 {
    @apply font-bold text-5xl sm:text-6xl
  }

  h2 {
    @apply font-bold text-4xl sm:text-5xl
  }

  h3 {
    @apply font-bold text-3xl sm:text-4xl
  }

  h4 {
    @apply font-bold text-2xl sm:text-3xl
  }

  h5 {
    @apply font-semibold text-xl sm:text-2xl
  }

  h6 {
    @apply font-semibold text-lg sm:text-xl
  }

  p {
    @apply text-sm lg:text-base text-pretty tracking-wide
  }

}

.bgMenu {
  margin: 0 auto;
  max-width: 1768px;
  max-height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('public/banner.png');
}

::-webkit-scrollbar {
  display: none;
}

/* Typography TIPTAP */
.tiptap h1 {
  @apply text-2xl font-semibold sm:text-3xl lg:text-4xl;
}
.tiptap h2 {
  @apply text-xl font-semibold sm:text-2xl lg:text-3xl;
}
.tiptap h3 {
  @apply text-lg font-semibold sm:text-xl lg:text-2xl;
}
